$main-text-color: hsl(0, 0%, 0%);
$heading-text-color: hsl(243, 52%, 23%);

$primary-blue-color: hsl(219, 88%, 94%);
$secondary-blue-color: hsl(223, 100%, 96%);
$secondary-color: hsl(255, 64%, 54%);

$input-field-color: hsl(0, 0%, 100%);

$green-accent-color: hsl(122, 100%, 74%);
