@use "../utilities" as u;

.live-games__heading,
.completed-games-heading {
    @include u.breakpoint-down(medium) {
        text-align: center;
    }
}

.completed-games-heading {
    margin-top: 2rem;
}

.live-games-container {
    h2 {
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 0;
    }

    .game-card .links a:first-child {
        margin-right: 0;
    }
}
